@import 'vendor/css/bootstrap.css';

.newrev {
    display: block;
    font-weight: bold;
}

.logsz {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.node h2 {
  width: 120px;
  display: inline;
  margin-right: 80px;
}

.node {
    display: inline-block;
    width: 390px;
    padding: 5px;
    border-radius: 5px;
}

.targsrc {
  width: 390px;
  background: linear-gradient(to right, #60769f 90%,#6c9f60 100%);
}

.srctarg {
  width: 390px;
  background: linear-gradient(to left, #60769f 90%,#6c9f60 100%);
}

.node tr {
    line-height: 35px;
}

.node button {
    margin-right: 5px;
}


.controls {
    position: fixed;
    width: 100%;
    bottom: 10px;
}

.controlpane {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.setter {
  display: block;
  width:390px;
}

.setters {
  display: block;
}

.setter input {
  width: 390px;
}

.nodepane {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.master, .replica {
    background: #6c9f60;
}
.target {
    background: #60769f;
}

.promote {
  background: #ffcece;
}

.replicate {
  margin-left: 390px;
  width: 390px;
}

.headrow {
  font-weight: bold;
}
